<% content_for :head do %>
    <%= stylesheet_link_tag "contactus", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= render "layouts/header_main" %>

<div id="formulario">
	<section class="container" id="consultasHolder">
		<div class="row">
			<div class="col col-12 col-sm-12 col-md-12 col-lg-8">
				<h1 class="wl mt-3">Consultas</h1>
				<form class="wl lato mt-4" title="Consulta" method="post">
					<div class="form-group">
						<label for="name">Nombre:</label>
						<input class="form-control" type="text" id="name" name="name" value="" pattern="[A-za-z ]+" placeholder="John Doe" required/>
					</div>
					<div class="form-group">
						<label for="email">Email: </label>
						<input class="form-control" type="email" id="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="your@email.com" required>
					</div>
					<div class="form-group">
						<label for="tel">Teléfono (Celular): </label>
						<input class="form-control" type="tel" id="tel" name="tel" value="" pattern="[0-9]{10}" placeholder="0999999999" required>
					</div>
					
					<div class="form-group">
						<label for="subject">Asunto: </label>
						<input class="form-control" type="text" id="subject" name="subject" value="" placeholder="Servicio de cableado, por ejemplo" required>
					</div>
					<div class="form-group">
						<label for="message">Mensaje: </label>
						<textarea class="form-control" id="message" name="message" placeholder="Escribe tu mensaje/consulta aquí" required></textarea>
					</div>
					<div class="form-group">
						<label for="date">Fecha: </label>
						<input class="form-control" type="text" id="date" name="date" value="" placeholder="dd/mm/aaaa" required>
					</div>
					<div class="form-group">
						<label for="file">Adjuntar documento: </label>
						<input class="form-control-file" type="file" name="file" id="file" accept="application/pdf">
					</div>
					<div>
						<input class="btn btn2" type="submit" value="Enviar" id="submit">
					</div>
					<br>
				</form>
			</div>
			<div id="corr" class="col col-12 col-lg-4 d-none d-lg-block">
				<img class="img-fluid" src="../img/mail.png" alt="correo">
			</div>
		</div>
	</section>
</div>
<div class="container">
	<section class ="row mt-3 mb-3" id="datos">
		<div class="col col-12">
			<h1> Información de contacto </h1>
		</div>

		<div class="col col-12 col-sm-12 col-md-6">
			<div  id="info">
				<p>
					Guayaquil-Ecuador
				</p>
				<p>
					Dirección: Chimborazo 3216 entre Vacas Galindo y Cañar
				</p>
				<p>
					Teléfonos: (04) 2347574 -  2580379
				</p>
				<p>
					email: hissistemasgye@gmail.com
				</p>
			</div>
		</div>

		<div class="col col-12 col-sm-12 col-md-6" >
			<iframe class="img-fluid" id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1369.4329520725523!2d-79.88967820848681!3d-2.214410451523677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6e4466a9400b%3A0x2222191ad93478df!2sChimborazo+3216%2C+Guayaquil+090101!5e0!3m2!1ses!2sec!4v1543281100552" allowfullscreen></iframe>
		</div>
	</section>
</div>
		
<%= render "layouts/footer_main" %>

<% content_for :foot do %>
    <%= javascript_include_tag 'picker', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'picker.date', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'picker.time', 'data-turbolinks-track': 'reload' %>
<% end %>
